global:
  scrape_interval:     15s         # How often Prometheus scrapes targets
  evaluation_interval: 15s         # How often to evaluate rules (e.g. alerts) 

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [localhost:9090'] # Monitor Prometheus itself

  - job_name: 'kubernetes-pods'    # Checks for pods with label app:web-app and monitors them
    kubernetes_sd_configs:
      - role: pod
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        regex: web-app
        action: keep

  - job_name: 'kubernetes-nodes'  # Checks for nodes and monitors them
    kubernetes_sd_configs:
      - role: node

rules_files:
  - 'alerting-rules.yaml'